.employee-list-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.employee-list-container h1 {
  color: #00334e;
  margin-bottom: 20px;
}

.employee-list-container table {
  width: 100%;
  border-collapse: collapse;
}

.employee-list-container th, 
.employee-list-container td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.employee-list-container th {
  background-color: #00334e;
  color: white;
}

.employee-list-container tr:nth-child(even) {
  background-color: #f4f6f8;
}

.employee-list-container tr:hover {
  background-color: #e0e7ed;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-text {
  font-size: 28px;
  text-align: center;
}
.header-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.search-field {
  font-size: 16px;
  width: 300px;
  padding: 10px 14px;

  border: 1px solid #ddd;
  border-radius: 8px;

  outline: none;
}

.search-field:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.edit-button{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.delete-button{
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}