.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #00334e;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
}


.logo {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  flex-grow: 1; 
}

.nav-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #adb5bd;
  text-decoration: none;
  transition: 0.3s;
}


.nav-links a:hover {
  background-color: rgba(255,255,255,0.1);
  color: white;
}

.nav-links a.active {
  background-color: rgba(255,255,255,0.1);
  color: white;
  border-left: 4px solid #ffc107;
}